.header {
  text-align: center;
}

.navItem {
  color: white;
}

.Navbar {
    background-color: #004876 ;
    justify-content: center;
    div,img,button {
      margin-top: 20px;
    }
   button > span {
      color:white !important;
  }
  button:focus {
    outline: none;
    color:white !important;
}
    div > a {
      color:#dae1e7 !important;
      padding:2px;
      font-size: 15px;
    }
  }

  .Navbar__brand {
    color: #ffffff;
  }
  .Navbar__brand:hover {
    color: #B92454;
    text-decoration: none;
  }

  .navbar-default {
    color: #ffffff !important;
  }
  .Navbar__brand-logo {
    margin-right: 0.5rem;
  }

  .icon {
    color: white;
  }
  .logo{
    width: 190px;
    object-fit: cover;
  }
