.footer_home {
    background: linear-gradient(to bottom, #1b6ca8, #3786c2);
    overflow: auto;
    display: block;
    position: center;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer_color {
    color: white;

}