.footer_home {
    background: linear-gradient(to bottom, #1b6ca8, #3786c2);
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_color {
    color: white;

}