
.main-content{
    background: linear-gradient(to bottom, #0b4779, #1b6ca8);
    height: 100%;
    width: 100vw;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}
.Form {
  background-color:#e9ecef;
  border-radius: 20px;
  border: 4px solid white;
  align-items: center;
  width: 80%;
  min-height: 520px;
  max-width: 350px;
  color: red;
  &[disabled] {
    opacity: 0.3;
  }
}