
@media (max-width: 508px) {
    .MuiPaper-root {
        & table, tr, thead, tbody, th, tr, td{
            font-size: 10px;
            padding: 2px;
        }
        &td, th {
            max-width: 100px !important;
        }
    }
    .MTableToolbar-searchField-49 {
        min-width: 80px !important;
    }
    .MuiInputBase-input {
        font-size: 8px !important;
    }
    .MuiTypography-h6 {
        font-size: 10px !important;
        width: 100% !important;
    }
    .react-datepicker__input-container {
        font-size: .6rem;
    }
}
button:focus{
    outline: none !important;
}
.MuiTableSortLabel-root.MuiTableSortLabel-active {
    color: white !important;
}
.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon {
    color: rgba(253, 249, 22, 0.959) !important;
    opacity: 1 !important;
}
